@import "tailwindcss";

@font-face {
	font-family: "Outfit";
	src: url("./assets/fonts/outfit/static/Outfit-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Outfit";
	src: url("./assets/fonts/outfit/static/Outfit-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Outfit";
	src: url("./assets/fonts/outfit/static/Outfit-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Outfit";
	src: url("./assets/fonts/outfit/static/Outfit-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@theme {
  /* I'm overriding the default font here */
  --font-sans: 'Outfit', sans-serif;
}

body {
	background-color: #000000;
	color: #ffffff;
}

.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

nav .links a.active{
	color: #00C39A;
}

/* .modal-content {
  background: white;
  border-radius: 8px;
  padding: 1.5rem;
} */

/* 
Color palette:
  #000000
  #ffffff
	#454545
	#707070
	#00C39A
	#181C14
	#091413
	#ECDFCC

Fonts: 
  Outfit
*/
